@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.folio__contact {
    display: flex;
    flex-direction: row;
}


.folio__contact-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.folio__contact-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.folio__contact-content h4:last-child {
    color: #ff8A71;
}

.folio__contact-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.folio__contact-content p  {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

.folio__send-email-section {
    padding: 3rem;
}

.folio__send-email {
    color: var(--colour-text);
    font-size: 18px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 30px;
}

/* send email hover styling */
.folio__send-email:hover {
    color: var(--colour-text);
    opacity: 0.8;
}

/* send email tooltip */
.folio__send-email .send-email-tooltip {
    visibility: hidden;
    width: 120px;
    margin: 15px;
    background-color: #333;
    columns: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    position: absolute;
    color: white;
}


/* shows send email tooltip */
.folio__send-email:hover .folio__send-email-tooltip {
    visibility: visible;
}

/* social icons class styling */
.folio__social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

/* Font awesome styling */
.folio__fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15%;
    display: inline;
}

/* Font awesome hover styling */
.folio__fa:hover {
    opacity: 0.5;
}

/* Font awesome github styling */
.folio__fa-github {
    background-color: #24292f;
    color: white;
}

/* Font awesome twitter styling */
.folio__fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Font awesome linkedin styling */
.folio__fa-linkedin {
    background: #007bb5;
    color: white;
}

.folio__contact-content-CV button {
    padding: 0.5rem 1rem;
    color: #fff;
    background:  #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .folio__contact {
        flex-direction: column;
    }

    .folio__contact-image {
        margin: 1rem 0;
    }

    .folio__contact-image img {
        width: unset;
        height: unset;
    }

    .folio__contact-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .folio__contact-image img {
        width: 100%;
        height: 100%;
    }
}