.form-btn {
    background-color: #c43e1d;
    color: white;
}
.form-btn:hover {
    background-color: #4a4e69;
    color: white;
}

.folio__contactForm-content  {
    color:white;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.folio__button {
    margin-top: 2rem;
    align-items: center;
}

.folio__button:hover button {
    background-color: #4a4e69;
    color: white;
}

.folio__button button {
    padding: 0.5rem 1rem;
    color: #fff;
    background:  #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    
}
